# Dart & Flutter
.dart_tool/
.packages
build/
pubspec.lock

# Flutter spesifik dosyalar
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
ios/
android/
macos/
web/
windows/
linux/

# VS Code & JetBrains IDE (Android Studio) dosyaları
.idea/
*.iml

# Kendi eklediğin gizli dosyalar
.env*

# Derleme ve cache dosyaları
*.log
*.tmp
*.swp

# Test coverage ve analiz dosyaları
coverage/
.dart_tool/
test-results/

# Web için oluşturulan dosyalar
*.dart.js
*.js
*.js.deps
*.js.map
*.info.json

# DartDoc oluşturduğu dosyalar
doc/api/
